body {
  height: 100vh;
  background-image: url(../img/madera.jpg);
  background-position: center center;
  background-size: cover;
}

.flex-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  padding: 100px;
  border-radius: 8px;
}

.iniciar-pausar,
.reiniciar {
  width: 50px;
}